<!DOCTYPE html>
<html>
  <head>
    <title>Astronomy Chatbot</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="chatbox" id="chatbox">
      <div class="chatlogs" id="chatlogs">
        <div class="chat bot">
          <div class="user-photo"><img src="../static/robot.png" /></div>
          <p class="chat-message">
            Hi there! Here is the new thing you can do:<br />
            You can now talk to me in 'The Big Bang Theory' mode!<br />
            Type 'talk in TBBT mode' and I will start responding to your<br />
            questions in TBBT Style!<br />
            If you enter this mode, you can always easily exit it<br />
            and continue with usual features and normal conversation<br />
            by typing 'EXIT'!
          </p>
        </div>
      </div>
      <div class="chat-form" id="chat-form">
        <textarea
          id="textInput"
          type="text"
          name="msg"
          rows="1"
          placeholder="Ask something..."
        ></textarea>
        <form name="uploadForm" method="POST" enctype="multipart/form-data">
          <input
            type="file"
            name="file"
            id="imgUpload"
            style="display:none"
            accept="image/png, image/jpeg"
          />
          <img id="imageInput" type="button" src="../static/upload_icon.png" />
        </form>
        <img id="game" type="button" src="../static/game_icon.png" />
        <button id="buttonInput" type="submit">Send</button>
      </div>
    </div>
    <script>
      function getBotAnswer() {
        var rawText = $("#textInput").val();
        rawText = rawText.replace(/^\s+|\s+$/g, "");
        if (rawText === "") return;
        var userMessage =
          '<div class="chat self"><div class="user-photo"><img src="../static/user.png"></div><p class="chat-message">' +
          rawText +
          "</p>";
        var chatlog = document.getElementById("chatlogs");
        $("#textInput").val("");
        $("#chatlogs").append(userMessage);
        chatlog.scrollTop = chatlog.scrollHeight;
        $.get("/get", { msg: rawText }).done(function(data) {
          var botMessage;
          if (data.startsWith("img=")) {
            botMessage =
              '<div class="chat bot"><div class="user-photo"><img src="../static/robot.png"></div><p class="chat-photo"> <img src="' +
              data.slice(4) +
              '"></p>';
          } else {
            botMessage =
              '<div class="chat bot"><div class="user-photo"><img src="../static/robot.png"></div><p class="chat-message">' +
              data +
              "</p>";
          }
          $("#chatlogs").append(botMessage);
          chatlog.scrollTop = chatlog.scrollHeight;
          document.getElementById("textInput").value = "";
        });
      }
      $("#textInput").keypress(function(e) {
        if (e.which == 13) {
          getBotAnswer();
        }
      });
      $("#buttonInput").click(function() {
        getBotAnswer();
      });
      $("#imageInput").click(function() {
        $("#imgUpload").trigger("click");
      });

      $("#imgUpload").change(function() {
        var formData = new FormData();
        formData.append("file", this.files[0]);
        $.ajax({
          type: "POST",
          url: "/upload",
          data: formData,
          contentType: false,
          cache: false,
          processData: false,
          success: function(data) {
            console.log("Success");
          }
        });
        var im = URL.createObjectURL(this.files[0]);
        var chatlog = document.getElementById("chatlogs");
        userMessage =
          '<div class="chat self"><div class="user-photo"><img src="../static/user.png"></div><p class="chat-photo"> <img src="' +
          im +
          '"></p>';
        botMessage =
          '<div class="chat bot"><div class="user-photo"><img src="../static/robot.png"></div><p class="chat-message">' +
          "Performing classification..." +
          "</p>";
        $("#chatlogs").append(userMessage);
        $("#chatlogs").append(botMessage);
        chatlog.scrollTop = chatlog.scrollHeight;
        $.get("/get", { msg: "__csf__" }).done(function(data) {
          botMessage =
            '<div class="chat bot"><div class="user-photo"><img src="../static/robot.png"></div><p class="chat-message">' +
            data +
            "</p>";
          $("#chatlogs").append(botMessage);
          chatlog.scrollTop = chatlog.scrollHeight;
        });
      });
    </script>
  </body>
</html>
