<!DOCTYPE html>
<html>
  <head>
    <title>Astronomy Chatbot</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="chatbox" id="chatbox">
      <div class="chatlogs" id="chatlogs">
        <div class="chat bot">
          <div class="user-photo"><img src="../static/robot.png"></div>
          <p class="chat-message">Hi there, I'm your Astrology chatbot! You can ask me things like:<br>
            When does the moon set at Nottingham?<br>
            Show me NASA photo of the day!<br>
            What time is the sunrise at London?<br>
            What does the orion look like?<br>
            Show me an image of horsehead nebula!<br>
            Or some general Astronomy questions like: <br>
            How hot is the sun?<br>
            How cold is pluto?<br>
            What is a black hole?<br>
          </p>
        </div>
      </div>
      <div class="chat-form" id="chat-form">
        <textarea
          id="textInput"
          type="text"
          name="msg"
          rows="1"
          placeholder="Ask something..."
        ></textarea>
        <button id="imageInput" type="submit">Cl</button>
        <button id="buttonInput" type="submit">Send</button>
      </div>
    </div>
    <script>
      function getBotAnswer() {
        var rawText = $("#textInput").val();
        rawText = rawText.replace(/^\s+|\s+$/g, '')
        if(rawText==="")return;
        var userMessage =
          '<div class="chat self"><div class="user-photo"><img src="../static/user.png"></div><p class="chat-message">' +
          rawText +
          "</p>";
        var chatlog = document.getElementById("chatlogs");
        $("#textInput").val("");
        $("#chatlogs").append(userMessage);
        chatlog.scrollTop = chatlog.scrollHeight;
        $.get("/get", { msg: rawText }).done(function(data) {
          var botMessage;
          if(data.startsWith("img=")){
            botMessage = '<div class="chat bot"><div class="user-photo"><img src="../static/robot.png"></div><p class="chat-photo"> <img src="' +
            data.slice(4) +
            '"></p>';
          }else{
           botMessage =
            '<div class="chat bot"><div class="user-photo"><img src="../static/robot.png"></div><p class="chat-message">' +
            data +
            '</p>';
          }
          $("#chatlogs").append(botMessage);
          chatlog.scrollTop = chatlog.scrollHeight;
          document.getElementById("textInput").value='';
        });
      }
      $("#textInput").keypress(function(e) {
        if (e.which == 13) {
          getBotAnswer();
        }
      });
      $("#buttonInput").click(function() {
        getBotAnswer();
      });
    </script>
  </body>
</html>
